#BoardPageLarge {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(147, 143, 142);
}

#boardGamesTitle {
    text-align: center;
}

#GameBoard {
    width: 58%;
    height: 58%;
    background-color: black;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    bottom: 11%;
    border: 1px solid white;
    border-radius: 40px;
}

#boardGameImage {
    width: 100%;
    height: 100%;
    border-radius: 40px;
}