#navMenuSmall {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navLinks {
    text-decoration: none;
}

.navLinks:focus, .navLinks:active, .navLinks:checked {
    text-decoration: underline;
    text-decoration-color: white;
}

#navMenuSmall option {
    color: white;
}

option:checked {
    text-decoration: underline;
}