#GamesPageHomeLink {
    width: 20%;
    height: 6vh;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
}

#GamesPageHomeButton {
    position: relative;
    width: 100%;
    height: 100%;
    border-color: black;
    border-radius: 20px;
    background-color: white;
    font-size: 1.4rem;
}

#GamesPageHomeButton:hover {
    background-color: black;
    color: white;
    border-color: white;
    cursor: pointer;
}