#GamesPageLarge {
    height: 100%;
    width: 100%;
}

#GamesPageOfferText {
    text-align: center;
    margin-top: 5%;
}

#offeringsAndSkulduggery {
    display: flex;
    position: absolute;
    width: 100%;
    height: 30%;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 1.2rem
}

#GamesPageLargeList {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#SkulduggerySide {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
}

#skulduggerySideContent {
    text-align: center;
}